.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1.5fr 0.3fr 1.5fr 0.5fr;
  grid-template-areas:
    "main main"
    "nav nav"
    "projects about"
    "projects contact";
  grid-gap: 2em;
  text-transform: uppercase;
  background-color: white;

  color: #fca8a8;
}

main {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  grid-area: main;
 
  color: black;
  font-family: 'Arial Black', Arial, Helvetica, sans-serif;
  font-size: 36px;
}

nav {

  background: white;
  border-style: solid;
  grid-area: nav;
  color: black;
}

#projects {
  margin-left: 10px;
  margin-bottom: 10px;
  background: #acd3cba2;
  grid-area: projects;
  font-weight: bold;
  text-align: center;
  font-size: 24px;
  border-radius: 25px;
  color: black;
}

#cad {
  margin-left: 10px;
  text-align: left;
  font-size: 16px;
}

#sm {
  margin-left: 10px;
  text-align: left;
  font-size: 16px;
}

#thermo {
  margin-left: 10px;
  text-align: left;
  font-size: 16px;
}

#about {
  margin-right: 10px;
  font-size:24px;
  background: #acd3cba2;
  grid-area: about;
  text-align: center;
  border-radius: 25px;
  color: black;
  font-weight: bold;
}

#contact {
  margin-bottom: 10px;
  margin-right: 10px;
  background: #e5e5f7;
  grid-area: contact;
  text-align: center;
  border-radius: 10px;
  color: black;
  font-weight: bold;
  font-size: min(2vw,36px);
}

  ul {
      font-size: 12px;
      text-align: left;
    list-style-type: circle;
}

ul.proj_list2 {
    font-size: 12px;
    text-align: left;
  list-style-type: circle;
}

ul.proj_list3 {
    font-size: 12px;
    text-align: left;
  list-style-type: circle;
}

#boutme{
  font-size: 2vw;
  text-transform: none
}

#contactinfo{
  font-weight: normal;
  font-size: min(1.5vw, 20px);
  


}