.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1.5fr 0.3fr 1.5fr 0.5fr;
  grid-template-areas:
    "main main"
    "nav nav"
    "projects about"
    "projects contact";
  grid-gap: 2em;
  text-transform: uppercase;
  background-color: rgb(59, 59, 58);
  background: url("nasa-Q1p7bh3SHj8-unsplash.jpg");

  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  color: #fca8a8;
}

main {
  
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  grid-area: main;
  color: rgb(255, 255, 255);
  font-family: 'Arial Black', Arial, Helvetica, sans-serif;
  font-size: 36px;
}

#image{
  margin-top: -20px;
  margin-right: -10px;
  height: 100%;
  width: 100%;
 
}

nav {

  background: rgb(1, 25, 61);
  border-style: solid;
  grid-area: nav;
  color: black;
}

#projects {
  margin-left: 10px;
  margin-bottom: 10px;
  background: #266d9c;
  grid-area: projects;
  font-weight: bold;
  text-align: center;
  font-size: 26px;
  border-radius: 25px;
  color: black;
  opacity: 0.9;
  font-family: 'Courier New', monospace
}

#cad {
  margin-left: 10px;
  text-align: left;
  font-size: min(1.5vw, 20px);
}

#sm {
  margin-left: 10px;
  text-align: left;
  font-size: 16px;
}

#thermo {
  margin-left: 10px;
  text-align: left;
  font-size: 16px;
}

#about {
  margin-right: 10px;
  font-size: min(2vw, 36px);
  background: #266d9c;
  grid-area: about;
  text-align: center;
  border-radius: 25px;
  color: black;
  font-weight: bold;
  opacity: 0.9;
}

#contact {
  margin-bottom: 10px;
  margin-right: 10px;
  background: #a4d5fd;
  grid-area: contact;
  text-align: center;
  border-radius: 10px;
  color: black;
  font-weight: bold;
  font-size: min(2vw,36px);
  opacity: 0.9;
}

  ul {
      font-size: 12px;
      text-align: left;
    list-style-type: circle;
}

ul.proj_list2 {
    font-size: 12px;
    text-align: left;
  list-style-type: circle;
}

ul.proj_list3 {
  font-size: min(1.5vw, 12px);
    text-align: left;
  list-style-type: circle;
}

#boutme{
  font-weight: 70%;
  font-size: min(1rem, 20px);
  text-transform: capitalize;
  font-family: 'Courier New', monospace;
  width: fit-content;
  height: fit-content;
}

#contactinfo{
  font-weight: normal;
  font-size: min(1.5vw, 20px);
}